$fonts: "Poppins", sans-serif;

$black-text: #292D32;
$secondary-black-text: #000000;
$gray-text: #9197B3;
$secondary-gray-text: #B5B7C0;
$green-color: #16C098;

$active-color: #008767;
$secondary-active-color: #00B087;
$inactive-color: #DF0404;
$secondary-inactive-color: #FFC5C5;
$violet-color: #5932EA; 

$pagination-color: #F5F5F5;
$pagination-text-color: #404B52;





$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop: 1024px;

