<header class="header__container">
    <!-- Логотип  -->
    
        <a class="header__logo" href="./index.html">
            <svg width="37" height="37"> 
                <use href="./images/symbol-defs.svg#icon-header-icon"></use>
            </svg>
            <h1 class="header__title">Dashboard<span class="header__span">v.01</span></h1>
        </a>


        
         <nav class="nav__wrapper">
            <ul class="header__list">
                <li class="header__nav">
                    <a href="#1" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-dashboard"></use>
                        </svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="header__nav">
                    <a href="#2" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-product"></use>
                        </svg>
                        <span>Product</span>
                        <svg class="header__icon arrow" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav">
                    <a href="#3" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-customers"></use>
                        </svg>
                        <span>Customers</span>
                        <svg class="header__icon arrow" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav">
                    <a href="#4" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-income"></use>
                        </svg>
                        <span>Income</span>
                        <svg class="header__icon arrow" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav">
                    <a href="#5" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-promote"></use>
                        </svg>
                        <span>Promote</span>
                        <svg class="header__icon arrow" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="header__nav">
                    <a href="#6" class="header__item">
                        <svg class="header__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-help"></use>
                        </svg>
                        <span>Help</span>
                        <svg class="header__icon arrow" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
    
</header> 

<!-- Основна секція -->
<main class="main">
    <section class="main__section" id="1">
        <h2>Dashboard Section</h2>
    </section>
    <section class="main__section" id="2">
        <h2>Product Section</h2>
    </section>
    <section class="main__section" id="3">
        <h2>Customers Section</h2>
    </section>
    <section class="main__section" id="4">
        <h2>Income Section</h2>
    </section>
    <section class="main__section" id="5">
        <h2>Promote Section</h2>
    </section>
    <section class="main__section" id="6">
        <h2>Help Section</h2>
    </section>
</main>