<header class="header">
    <!-- Логотип  -->
    <div class="header__container">
        <a class="header__logo" href="./index.html">
            <svg class="logo__icons" width="37" height="37">
                <use href="./images/svg/header-icon.svg"></use>
            </svg>
            <h1 class="header__title">Dashboard<span class="header__span">v.01</span></h1>
        </a>
    </div>

    <!-- Бокова панель -->
    <nav class="nav__wrapper">
        <ul class="header__list">
            <li class="header__nav">
                <a href="#1">
                    <img src="./images/svg/dashboard.svg" alt="Dashboard">
                    <span>Dashboard</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
            <li class="header__nav">
                <a href="#2">
                    <img src="./images/svg/product.svg" alt="Product">
                    <span>Product</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
            <li class="header__nav">
                <a href="#3">
                    <img src="./images/svg/customers.svg" alt="Customers">
                    <span>Customers</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
            <li class="header__nav">
                <a href="#4">
                    <img src="./images/svg/income.svg" alt="Income">
                    <span>Income</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
            <li class="header__nav">
                <a href="#5">
                    <img src="./images/svg/promote.svg" alt="Promote">
                    <span>Promote</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
            <li class="header__nav">
                <a href="#6">
                    <img src="./images/svg/help.svg" alt="Help">
                    <span>Help</span>
                    <img src="./images/svg/arrow.svg" alt="Show more">
                </a>
            </li>
        </ul>
    </nav>
</header>

<!-- Основна секція -->
<main class="main">
    <section class="main__section" id="1">
        <h2>Dashboard Section</h2>
    </section>
    <section class="main__section" id="2">
        <h2>Product Section</h2>
    </section>
    <section class="main__section" id="3">
        <h2>Customers Section</h2>
    </section>
    <section class="main__section" id="4">
        <h2>Income Section</h2>
    </section>
    <section class="main__section" id="5">
        <h2>Promote Section</h2>
    </section>
    <section class="main__section" id="6">
        <h2>Help Section</h2>
    </section>
</main>