/*  #region menu  */

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;  
    overflow-x: hidden;
    
    background-color: #FFFFFF;

    @media (min-width: $min-mobile) {
        max-width: 200px;
    }

    @media (min-width: $min-tablet) {
        max-width: 306px;
        flex-basis: 306px;
        padding-top: 36px;
        padding-left: 26px;
        padding-right: 30px;
        padding-bottom: 76px;
    }
}

/*  #endregion  */

/*  #region Logo  */

.header__logo {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1%;
    color: $secondary-black-text;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 43px;

    @media screen and (min-width: $min-tablet) {
        justify-content: normal;
    }
}

.header__title {
    display: none;

    @media screen and (min-width: $min-tablet) {
        display: flex;
            align-items: baseline;
        margin-left: 8px;
        font-size: 26px;
            font-weight: 500;
            letter-spacing: 1%;
    }
}

.header__span {
    display: none;
    
        @media screen and (min-width: $min-tablet) {
            display: block;
            font-size: 10px;
                font-weight: 500;
                color: #838383;
                letter-spacing: -1%;
                margin-left: 4px;
        }
}

/*  #endregion */

/*  #region Nav  */

.nav__wrapper {
    position: relative;
}
.header__nav {
    margin-bottom: 18px; 
}

.header__nav:last-child {
    margin-bottom: 0;
}

.header__item {
    display: flex;
    max-width: 250px;
    padding: 11px 8px 11px 11px;
    position: relative;

    

    color: $gray-text;
    background-color: inherit;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1%;

    transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: #FFFFFF;
        background-color: $violet-color;
        &:focus .header__icon,
        &:hover .header__icon {
                background-color: $violet-color;
                fill: #FFFFFF;
            }
        }
}

.header__icon {
    fill: $gray-text;
    margin-right: 14px;

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: $violet-color;
    }
}

.arrow {
    display: flex;
    margin-left: auto;
}


.header__developer {
    display: flex;
}

.header__developer img {
    margin-right: 12px;
}

.header__developer h2 {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-black-text;
}

.header__developer p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

/*  #endregion  */

