/*  #region menu  */

.header__container {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;  
    overflow-x: hidden;
    
    background-color: #FFFFFF;

    @media (min-width: $min-mobile) {
        max-width: 200px;
    }

    @media (min-width: $min-tablet) {
        max-width: 306px;
        padding-top: 48px;
        padding-left: 27px;
        padding-right: 29px;
    }
}

/*  #endregion  */

/*  #region Logo  */

.header__logo {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1%;
    color: $secondary-black-text;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 64px;

    @media screen and (min-width: $min-tablet) {
        justify-content: normal;
    }
}

.header__title {
    display: none;

    @media screen and (min-width: $min-tablet) {
        display: flex;
            align-items: baseline;
        margin-left: 8px;
        font-size: 26px;
            font-weight: 500;
            letter-spacing: 1%;
    }
}

.header__span {
    display: none;
    
        @media screen and (min-width: $min-tablet) {
            display: block;
            font-size: 10px;
                font-weight: 500;
                color: #838383;
                letter-spacing: -1%;
                margin-left: 4px;
        }
}

/*  #endregion */

/*  #region Nav  */
.nav__wrapper {
    position: relative;
}
.header__nav {
    margin-bottom: 18px; 
}

.header__nav:last-child {
    margin-bottom: 0;
}

// .header__developer {
//     margin-bottom: 50px;
//     @media screen and (min-width: $min-tablet) {
//             margin-bottom: 76px;
//         }
// }

.header__item {
    display: flex;
    align-items: center;
    max-width: 250px;
    padding: 11px 8px 11px 11px;
    position: relative;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: -1%;

    color: $gray-text;
    background-color: inherit;
    border-radius: 8px;


    &:focus,
    &:hover {
        color: #FFFFFF;
        background-color: $violet-color;
        &:focus .header__icon,
        &:hover .header__icon {
                background-color: $violet-color;
                fill: #FFFFFF;
            }
        }
}

.header__icon {
    fill: $gray-text;
    margin-right: 14px;

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: $violet-color;
    }
}

.arrow {
    display: flex;
    margin-left: auto;
}


.header__developer {
    display: flex;
    position: absolute;
        left: 0;
        bottom: -100%;
}

.header__developer img {
    margin-right: 12px;
}

.header__developer h2 {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-black-text;
}

.header__developer p {
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

/*  #endregion  */

/*  #region Main  */

.section {
    width: 100%;
    max-height: 100vh;
    display: flex;
    
    @media (min-width: $min-mobile) {
            margin-left: 200px;
        }
    
        @media (min-width: $min-tablet) {
            margin-left: 306px;
            
        }
}

.main__section {

    @media (min-width: $min-mobile) {
            padding-top: 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
    
    @media (min-width: $min-tablet) {
            padding-top: 25px;
            padding-left: 10px;
            padding-right: 10px;
    
    }
        @media (min-width: $min-desktop) {
            width: 968px;
                padding-top: 41px;
                padding-left: 71px;
                padding-right: 95px;
    
        }
    

}

.section__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 51px;
}

.section__customers {
    padding-top: 30px;
    padding-right: 44px;
    padding-left: 38px;
    background-color: #fff;
    border-radius: 30px;    
}

.all__customers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 9px;
    margin-bottom: 40px;
}

.all__customers h3 {
    font-size: 22px;
    font-weight: 600;
    color: $secondary-black-text;
    margin-bottom: 7px;
}

.all__customers p {
    font-size: 14px;
    color: $green-color;
}

.form__wrap {
    position: relative;
}

.customers__input {
    width: 216px;
    height: 38px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    background-color: #F9FBFF;
    font-size: 12px;
    color: $secondary-gray-text;
}

.form__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin-right: 3px;
    margin-left: 8px;
    background-color: #0000;
    border: none;
    outline: none;   
}

.table__customers {
    margin-bottom: 32px;
}

table {
    border-collapse: collapse;
    // table-layout: fixed;
}

table th,
table td {
    padding: 20px;
    border-bottom: 1px solid #EEEEEE;
}

table th {
    padding-bottom: 14px;
    font-size: 14px;
    font-weight: 500;
    color: $secondary-gray-text;
}

table td {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 14px;
    color: $black-text;
    font-weight: 500;
    
}

.pagination__block {
    display: flex;
    align-items: center;
}

.pagination__block p {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-gray-text;
}

.pagination {
    display: flex;
    margin-left: auto;
}

.pagination li {
    float: left;
}

.pagination__item {
    width: 25px;
}

/*  #endregion  */