/*  #region menu  */

.header__container {
    outline: $inactive-color solid 3px;
    display: flex;
    flex-direction: column;
    // position: relative;
    // text-align: center;
    // justify-content: center;
    // margin-left: auto;
    // margin-right: auto;
    // display: flex;
    // flex-direction: column;
    
    height: 100%;
    background-color: #FFFFFF;

    @media (min-width: $min-mobile) {
        max-width: 200px;
    }

    @media (min-width: $min-tablet) {
        max-width: 305px;
        padding: 48px 27px;
    }

    @media (min-width: $min-desktop) {
        min-width: 306px;
        
    }
}

/*  #endregion  */

/*  #region Logo  */

.header__logo {
    
    outline: $violet-color solid 3px;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1%;
    color: $secondary-black-text;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 64px;

    // position: fixed;
    // top: 0;
    // left: 0; 
    // width: 15%;
    // text-align: center;
    

    
    // z-index: 1000;
    @media screen and (min-width: $min-desktop) {
        justify-content: normal;
    }
}

.header__title {
    display: none;

    @media screen and (min-width: $min-tablet) {
        display: flex;
            align-items: baseline;
        margin-left: 8px;
        font-size: 26px;
            font-weight: 500;
            letter-spacing: 1%;
    }
}

.header__span {
    display: none;
    
        @media screen and (min-width: $min-tablet) {
            display: block;
            font-size: 10px;
                font-weight: 500;
                color: #838383;
                letter-spacing: -1%;
                margin-left: 4px;
        }
}

/*  #endregion */

/*  #region Nav  */

.nav__wrapper {
    outline: $inactive-color solid 3px;
    // position: fixed;
    // left: 0;
    // text-align: center;
    // width: 15%;
    // height: 90%;
    // z-index: 100;
}

// .header__list {
//     margin: auto;
//     position: relative;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     height: 70%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;

// }

.header__nav {
    outline: $inactive-color solid 3px;
    margin-bottom: 30px;
    
}

.header__nav:last-child {
    margin-bottom: 0;
}

.header__item {
    display: flex;
    align-items: center;
    max-width: 250px;
    padding: 11px 8px 11px 11px;
    position: relative;

    font-size: 14px;
            font-weight: 400;
            letter-spacing: -1%;

    color: $gray-text;
    background-color: inherit;
    border-radius: 8px;


    &:focus,
    &:hover {
        color: #FFFFFF;
        background-color: $violet-color;
        &:focus .header__icon,
        &:hover .header__icon {
                background-color: $violet-color;
                fill: #FFFFFF;
            }
        }

     
}

.header__icon {
    fill: $gray-text;
    margin-right: 14px;

    &:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: $violet-color;
    }
}

.arrow {
    display: flex;
    margin-left: auto;
}




/*  #endregion  */

.pagination__block {
    display: flex;
    align-items: center;
}

.pagination {
    // display: inline-block;
    display: flex;
    margin-left: auto;
}

.pagination li {
    width: 25px;
    float: left;

}